@import styles/variables

.container-view
  background: #1a1a1a
  border: solid 1px #000
  color: #fefefe
  font-family: sans-serif
  height: $DEFAULT_CONTAINER_HEGHT
  position: relative

  p,
  h1
    color: #fefefe

  input
    background: #555
    border-radius: 2px
    border: none
    color: #ddd
    font-size: 0.8em
    padding: 4px

    &:invalid
      background-color: $INPUT_ERROR_BACKGROUND_COLOR
      color: $INPUT_ERROR_TEXT_COLOR

  i.glyphicon
    color: #aaa
    cursor: pointer

  select
    background: #666
    border: solid 1px #333
    color: #fff
    font-size: 1em

  .fill
    bottom: 0
    left: 0
    position: absolute
    right: 0
    top: 0


  label.row
    float: left
    clear: both
    margin-bottom: 12px


  label.row,
  .field-button
    cursor: pointer


  .field-button
    background: #222
    border-radius: 2px
    border: solid 1px #888
    color: #ddd
    font-size: 0.7em
    margin: 0 6px 0 4px
    padding: 5px 12px


  .label-input-pair
    float: left
    font-size: 12px
    overflow: auto

    p,
    input
      float: left
      height: 12px
      line-height: 12px
      width: 80px

      &.select-container p
        height: 20px
        line-height: 20px

    select
      width: 115px

    p
      line-height: 18px
      margin: 0
      padding: 2px 0
