<div class="rt-container-view">
  <div class="rt-control-bar-view"></div>
  <div class="rt-timeline">
    <div class="rt-timeline-wrapper">
      <div class="rt-scrubber-view"></div>
      <div class="rt-animation-tracks-view"> </div>
    </div>
  </div>
</div>

