<h1 class="rt-keyframe-property-name">Detail</h1>
<label class="rt-label-input-pair rt-keyframe-property-value">
  <p>Value:</p>
  <input type="text" value="" name="rt-keyframe-property-value">
</label>
