<h1 class="rt-keyframe-property-name">Detail</h1>
<button class="glyphicon glyphicon-plus rt-no-background rt-add" title="Add a new keyframe property">&nbsp;</button>
<label class="rt-label-input-pair rt-keyframe-property-millisecond">
  <p>Millisecond:</p>
  <input type="text" value="" name="millisecond">
</label>
<label class="rt-label-input-pair rt-keyframe-property-value">
  <p>Value:</p>
  <input type="text" value="" name="value">
</label>
<label class="rt-label-input-pair rt-keyframe-property-easing">
  <p>Easing:</p>
  <select name="easing"></select>
</label>
<label class="rt-label-input-pair rt-keyframe-delete">
  <button class="rt-delete">Remove this keyframe</button>
</label>
