<div class="rt-scrubber-container">
  <div class="rt-scrubber-handle">
    <i class="glyphicon glyphicon-chevron-down rt-scrubber-icon">&nbsp;</i>
    <figure class="rt-scrubber-guide"></figure>
  </div>
</div>
