$DEFAULT_CONTAINER_HEGHT: 240px;
$KEYFRAME_PROPERTY_DIMENSION: 20px;
$CONTROL_BAR_HEIGHT: 40px;
$SCRUBBER_HANDLE_DIMENSIONS: 20px;
$KEYFRAME_PROPERTY_DETAIL_WIDTH: 200px;
$PLAYBACK_ICON_DIMENSIONS: 30px;
$CONTROL_BAR_VIEW: $PLAYBACK_ICON_DIMENSIONS * 2;
