.rekapi-timeline-control-bar-view i {
  color: #000;
  float: left;
  font-size: 1.5em;
  height: 30px;
  width: 30px;
}

.rekapi-timeline-control-bar-view i:active {
  color: #888;
}

.rekapi-timeline-control-bar-view .rekapi-timeline-pause {
  display: none;
}

.rekapi-timeline-control-bar-view.rekapi-timeline-playing .rekapi-timeline-pause {
  display: block;
}

.rekapi-timeline-control-bar-view.rekapi-timeline-playing .rekapi-timeline-play {
  display: none;
}
