@import 'constants';

.rt-container-view {
  border: solid 1px #000;
  font-family: sans-serif;
  height: $DEFAULT_CONTAINER_HEGHT;
  position: relative;
}

.rt-timeline {
  overflow: auto;
  position: relative;
  // 272 = total width of .rt-keyframe-property-detail-view
  width: calc(100% - 272px);

  margin-left: $CONTROL_BAR_VIEW;
}

  .rt-timeline-wrapper {
    overflow: auto;
    padding-bottom: 24px;
  }

button.rt-no-background {
  background: none;
  border: 0;
}

.rt-detail-views-container {
  background: #bbb;
  bottom: 0;
  position: absolute;
  padding: 0 6px 6px 6px;
  right: 0;
  top: 0;
  width: $KEYFRAME_PROPERTY_DETAIL_WIDTH;
}
