@import 'constants';

.rt-container-view {
  border: solid 1px #000;
  height: $DEFAULT_CONTAINER_HEGHT;
  position: relative;
}

.rt-timeline {
  overflow: auto;
  position: relative;
  width: calc(100% - 200px);
}

  .rt-timeline-wrapper {
    overflow: auto;
    padding-bottom: 24px;
  }
