@import 'constants';

.rt-control-bar-view {
  overflow: auto;
  height: $CONTROL_BAR_HEIGHT;
}

.rt-control-bar-view i {
  color: #000;
  float: left;
  font-size: 1.5em;
  height: 30px;
  width: 30px;
}

.rt-control-bar-view i:active {
  color: #888;
}

.rt-control-bar-view .rt-pause {
  display: none;
}

.rt-control-bar-view.rt-playing .rt-pause {
  display: block;
}

.rt-control-bar-view.rt-playing .rt-play {
  display: none;
}
