@import 'constants';

.rt-container-view {
  border: solid 1px #000;
  color: #fefefe;
  font-family: sans-serif;
  height: $DEFAULT_CONTAINER_HEGHT;
  position: relative;
}

  .rt-container-view input {
    background: #555;
    border-radius: 2px;
    border: none;
    color: #ddd;
    font-size: 0.8em;
    padding: 4px;
  }

  .rt-container-view .glyphicon,
  .rt-container-view i.glyphicon {
    color: #aaa;
  }

  .rt-container-view select {
    background: #666;
    border: solid 1px #333;
    color: #fff;
    font-size: 1em;
  }

.rt-timeline {
  overflow: auto;
  position: relative;
  // 272 = total width of .rt-keyframe-property-detail-view
  width: calc(100% - 272px);

  margin-left: $CONTROL_BAR_VIEW;
}

  .rt-timeline-wrapper {
    overflow: auto;
    padding-bottom: 24px;
  }

button.rt-no-background {
  background: none;
  border: 0;
}

.rt-detail-views-container {
  background: #353535;
  bottom: 0;
  position: absolute;
  padding: 0 6px 6px 6px;
  right: 0;
  top: 0;
  width: $KEYFRAME_PROPERTY_DETAIL_WIDTH;
}
