@import 'constants';

.rt-keyframe-property-detail-view {
  background: #bbb;
  bottom: 0;
  position: absolute;
  padding: 6px;
  right: 0;
  top: $CONTROL_BAR_HEIGHT;
  width: $KEYFRAME_PROPERTY_DETAIL_WIDTH;
}

.rt-keyframe-property-detail-view h1 {
  font-size: 14px;
  margin: 0 0 8px 0;
}

.rt-keyframe-property-detail-view .rt-label-input-pair {
  font-size: 12px;
  overflow: auto;
}

  .rt-keyframe-property-detail-view .rt-label-input-pair p,
  .rt-keyframe-property-detail-view .rt-label-input-pair input {
    float: left;
    height: 12px;
    line-height: 12px;
    width: 80px;
  }

  .rt-keyframe-property-detail-view .rt-label-input-pair p {
    margin: 0;
    padding: 2px 0;
  }
