@import 'constants';

.rt-keyframe-property-detail-view {
  overflow: auto;
  padding: 30px 6px 6px 6px;
  position: relative;
}

.rt-keyframe-property-detail-view h1 {
  font-size: 14px;
  margin: 8px 0 14px 0;
}

.rt-keyframe-property-detail-view .rt-add {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.rt-keyframe-property-detail-view .rt-delete {
  bottom: 0;
  position: absolute;
  right: 0;
}
