@import 'constants';

.rt-keyframe-property-detail-view {
  overflow: auto;
  padding: 30px 6px 6px 6px;
  position: relative;
}

.rt-keyframe-property-detail-view h1 {
  font-size: 14px;
  line-height: 16px;
  margin: 8px 0 14px 0;
}

.rt-keyframe-property-detail-view .rt-field-button {
  margin: 4px 0;
  width: 100%;
}
