@import 'constants';

.rt-scrubber-view {
  background: #ccc;
  clear: both;
  float: left;
  width: 100%;
}

.rt-scrubber-container {
  background: #eee;
  height: $SCRUBBER_HANDLE_DIMENSIONS;
}

.rt-scrubber-handle {
  cursor: ew-resize !important; // Needs to override inline $.fn.dragon style
  float: left;
  font-size: $SCRUBBER_HANDLE_DIMENSIONS;
  height: $SCRUBBER_HANDLE_DIMENSIONS;
  width: $SCRUBBER_HANDLE_DIMENSIONS;
}
