@import 'constants';

.rt-scrubber-detail-view {
  height: 20px;
  position: absolute;
  top: 4px;
  z-index: 20;
}

  .rt-scrubber-detail-view label span {
    font-size: .8em;
  }

  .rt-scrubber-detail-view .rt-scrubber-scale {
    width: 50px;
  }
