@import ../../../../styles/variables

.timeline-view
  margin-left: $CONTROL_BAR_VIEW
  overflow: auto
  position: relative
  width: calc(100% - #{$KEYFRAME_PROPERTY_DETAIL_OUTER_WIDTH + $PLAYBACK_CONTROL_BAR_WIDTH})

  .timeline-wrapper
    overflow: auto
    padding-bottom: 32px // Works out to be the height of .scrubber-detail-view, which this is accounting for

  .new-track-name-input-wrapper
    float: left
    overflow: auto
