<button class="icon-button play">
  <i class="glyphicon glyphicon-play"></i>
</button>
<button class="icon-button pause">
  <i class="glyphicon glyphicon-pause"></i>
</button>
<button class="icon-button stop">
  <i class="glyphicon glyphicon-stop"></i>
</button>
