@import compass/css3/border-radius
@import styles/variables

.keyframe-property-view
  float: left
  height: $KEYFRAME_PROPERTY_DIMENSION
  position: relative
  width: $KEYFRAME_PROPERTY_DIMENSION

  .keyframe-property
    background-color: $KEYFRAME_PROPERTY_SLIDER_COLOR
    border: none
    cursor: move
    height: 100%
    left: -($KEYFRAME_PROPERTY_DIMENSION / 2) + 1
    opacity: 0.5
    position: relative
    width: 100%
    +border-radius($KEYFRAME_PROPERTY_DIMENSION / 2)

    &.active
      opacity: 0.75
      outline: none
