@import ../../../../styles/variables

.control-bar-view
  background: $CONTROL_PANEL_BACKGROUND_COLOR
  border-right: solid 1px #000
  bottom: 0
  float: left
  left: 0
  overflow: auto
  position: absolute
  top: 0
  width: $PLAYBACK_CONTROL_BAR_WIDTH
  z-index: 20

  .icon-button
    height: $PLAYBACK_ICON_DIMENSIONS
    float: left
    padding: 0
    width: $PLAYBACK_ICON_DIMENSIONS

  i
    color: #000
    font-size: 1.5em

    &:active
      color: #888

  .pause
    display: none

  &.playing

    .pause
      display: block

    .play
      display: none
