<label class="label-input-pair row scrubber-scale">
  <p>Timeline zoom:</p>
  <input type="number" class="$scrubberScale" value="{{initialZoom}}" min="0">
</label>
<p class="duration-display">Duration: <span class="$animationLength"></span>ms</p>
