<div class="rt-control-bar-view"></div>
<div class="rt-timeline">
  <div class="rt-timeline-wrapper">
    <div class="rt-scrubber-view"></div>
    <div class="rt-animation-tracks-view"> </div>
  </div>
</div>
<div class="rt-detail-views-container">
  <div class="rt-scrubber-detail-view"></div>
  <div class="rt-keyframe-property-detail-view rt-fill"></div>
</div>
