<div class="rt-control-bar-view"></div>
<div class="$timeline"></div>
<div class="rt-detail-views-container">
  <div class="rt-scrubber-detail-view"></div>
  <div class="rt-keyframe-property-detail-view rt-fill"></div>
</div>
