@import styles/variables

.scrubber-detail-view
  height: 20px
  position: absolute
  top: 4px
  z-index: 20

  label

    span
      font-size: .8em

    &:after
      content: "%"
      line-height: 20px
      padding-left: 4px

  .scrubber-scale
    width: 50px

    &:invalid
      background-color: $INPUT_ERROR_BACKGROUND_COLOR
      color: $INPUT_ERROR_TEXT_COLOR
