<div class="$scrubberWrapper scrubber-wrapper">
  <div class="scrubber-handle">
    <i class="glyphicon glyphicon-chevron-down scrubber-icon">&nbsp;</i>
    <figure class="$scrubberGuide scrubber-guide"></figure>
  </div>
</div>
