<h1 class="$propertyName keyframe-property-name">Detail</h1>
<label class="label-input-pair row keyframe-property-millisecond">
  <p>Millisecond:</p>
  <input class="$propertyMillisecond property-millisecond" type="text" value="" name="millisecond">
</label>
<label class="label-input-pair row keyframe-property-value">
  <p>Value:</p>
  <input class="$propertyValue property-value" type="text" value="" name="value">
</label>
<label class="label-input-pair row select-container keyframe-property-easing">
  <p>Easing:</p>
  <select class="$propertyEasing" name="easing"></select>
</label>
<button class="field-button add">Add a new keyframe</button>
<button class="field-button delete">Remove this keyframe</button>
