<h1 class="rt-keyframe-property-name">Detail</h1>
<label class="rt-label-input-pair rt-row rt-keyframe-property-millisecond">
  <p>Millisecond:</p>
  <input type="text" value="" name="millisecond">
</label>
<label class="rt-label-input-pair rt-row rt-keyframe-property-value">
  <p>Value:</p>
  <input type="text" value="" name="value">
</label>
<label class="rt-label-input-pair rt-row rt-select-container rt-keyframe-property-easing">
  <p>Easing:</p>
  <select name="easing"></select>
</label>
<button class="rt-field-button rt-add">Add a new keyframe</button>
<button class="rt-field-button rt-delete">Remove this keyframe</button>
